{% extends 'UserApp/index.html' %}
{% load static %}
{% block Content %}

<ons-page>
    <div class="center">
        <h3 style="text-align: center;">Youtube Mp3 Converter</h3>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div style="text-align: center; margin-top: 30px;">
            <p>
                <ons-input name="link" id="link" modifier="underbar" placeholder="Paste Link here" float></ons-input>
            </p>
            <p style="margin-top: 30px;">
                <button class="button" type="submit">Get Song</button>
            </p>
        </div>
    </form>
        
    {% if song %}
    <div style="text-align: center; margin-top: 30px;">
        <h3>Audio File :</h3>
        <a class="button" href="{{song}}">Download</a>
    </div>
    {% else %}
    {% endif %}
</ons-page>

{% endblock %}