{% extends 'UserApp/index.html' %}
{% load static %}
{% block Content %}

    <ons-page>
        <ons-toolbar>
            <a href="/">
                <div class="left"><ons-back-button>Home</ons-back-button></div>
                <div class="center"></div>
            </a>
        </ons-toolbar>
        <ons-list>
            <ons-list-header>Favourites</ons-list-header>
            {% if fav %}
            {% for s in fav %}
            <a href="/playfavsong/{{s.song.id}}">
                <ons-list-item ripple>
                    <div class="left">
                        <img class="list-item__thumbnail" src="{% static 'Images/tracks.jpg' %}">
                    </div>
                    <div class="center">
                        <span class="list-item__title">{{s.song.name}}</span><span class="list-item__subtitle">{{s.song.artist}}</span>
                    </div>
                </ons-list-item>
            </a>
            {% endfor %}
            {% else %}
                <ons-list-item ripple>
                    <div class="center">
                        <span class="list-item__title">No songs in Favourites, add them by clicking heart from play song page.</span>
                    </div>
                </ons-list-item>
            {% endif %}
        </ons-list>
    </ons-page>

{% endblock %}