{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/d067c434dc.js" crossorigin="anonymous"></script>

    <!-- INDEX JS -->
    <script type="text/javascript" src="{% static 'UserApp/index.js' %}"></script>

    <!-- INDEX CSS -->
    <link rel="stylesheet" href="{% static 'UserApp/index.css' %}">

    <!-- onsen UI -->
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>

    <!-- jQuery -->
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>

    <!-- jQuery -->


    <title>V MiniPlayer</title>
  </head>
  
<body>


{% block Content %}



{% endblock %}

<ons-speed-dial position="bottom right" direction="up">
  <ons-fab>
    <ons-icon icon="md-plus"></ons-icon>
  </ons-fab>
  <ons-speed-dial-item>
    <a href="/about">
      <ons-icon icon="md-info"></ons-icon>
    </a>
  </ons-speed-dial-item>

  {% if "uname" in request.session %}
  <ons-speed-dial-item>
    <a href="/accounts/logout">
      <ons-icon ><i class="fas fa-sign-out-alt"></i></ons-icon>
    </a>
  </ons-speed-dial-item>
  {% else %}
  <ons-speed-dial-item>
    <a href="/accounts/login">
      <ons-icon ><i class="fas fa-sign-in-alt"></i></ons-icon>
    </a>
  </ons-speed-dial-item>
  {% endif %}

  <ons-speed-dial-item>
    <a href="/">
      <ons-icon icon="md-home"></ons-icon>
    </a>
  </ons-speed-dial-item>

</ons-speed-dial>

</body>

</html>
