{% extends 'UserApp/index.html' %}
{% load static %}
{% block Content %}


    <ons-page id="page1">
        <ons-toolbar >
            <a href="/accounts/addtofavourite">
                <div class="left"><ons-back-button>Favourites</ons-back-button></div>
                <div class="center"></div>
            </a>
        </ons-toolbar>
        <audio controls id="music_player" preload="metadata" >
            <source src="/media/{{song.file}}" type="audio/mpeg">
        </audio>
        <div>
            <ons-row style="margin: 15px 0px 15px 0px">
                <ons-col width="30px" style="text-align: center; line-height: 31px;">
                  <ons-icon size="20px" icon="md-volume-down"></ons-icon>
                </ons-col>
                <ons-col>
                  <ons-range style="width: 100%;" id="change_vol" onchange="change_vol()" step="0.05" min="0" max="1" value="0.1"></ons-range>
                </ons-col>
                <ons-col width="30px" style="text-align: center; line-height: 31px;">
                  <ons-icon size="20px" icon="md-volume-up"></ons-icon>
                </ons-col>
            </ons-row>
        </div>
        <ons-card>
            <img src="{{song.image.url}}" alt="Onsen UI" style="width: 100%">
            <div class="title">
                {{song.name}}
            </div>
            <div class="content">
                <div class="centre" style="display: flex; justify-content: space-evenly;">
                    <ons-button class="button" style="margin: 20px 10px 20px 10px;" modifier="outline"><i class="fas fa-heart"></i></ons-button>
                    <ons-button style="margin: 20px 10px 20px 10px;" modifier="outline" name="play" onclick="play_aud()" id="play_button"><i class="fas fa-play"></i></ons-button>
                    <ons-button style="margin: 20px 10px 20px 10px;" modifier="outline" name="pause" onclick="pause_aud()" id="pause_button"><i class="fas fa-pause"></i></ons-button>
                    <ons-button style="margin: 20px 10px 20px 10px;" modifier="outline" onclick="stop_aud()" id="stop_button"><i class="fas fa-stop"></i></ons-button>
                    <form method="post" action="/accounts/addtofavourite">{% csrf_token %}
                        <input type="hidden" id="sid" name="sid" value="{{song.id}}">
                        <button style="margin: 20px 10px 20px 10px; background: none; border-style: none;" modifier="outline" type="submit" name="action" value="add_to_fav" ><i class="fas fa-heart"></i></button>
                    </form>
                </div>
                <div>
                    <ons-row style="margin: 15px 0px 15px 0px">
                        <ons-col width="30px" style="text-align: center; line-height: 31px;">
                            <ons-input id="start" >0:0</ons-input>
                        </ons-col>
                        <ons-col>
                            <ons-range type="range" style="width: 100%;" id="duration_slider"  min="0" max="100" value="0"></ons-range>
                        </ons-col>
                        <ons-col width="30px" style="text-align: center; line-height: 31px;">
                            <ons-input id="end" >0:0</ons-input>
                        </ons-col>
                    </ons-row>
                </div>
              <ons-list>
                <ons-list-header>Albume/Movie: {{song.album.name}}</ons-list-header>
                <ons-list-item>Artist: {{song.artist}}</ons-list-item>
                <ons-list-item>Tags: {{song.tags}}</ons-list-item>
              </ons-list>
            </div>
        </ons-card>
        <script type="text/javascript">
            
            $(document).ready(function (){
                $("ons-button#play_button").hide();
                $("ons-button#play_button").click(function (){
                    $("ons-button#pause_button").show();
                    $("ons-button#play_button").hide();
                });
                $("ons-button#pause_button").click(function (){
                    $("ons-button#play_button").show();
                    $("ons-button#pause_button").hide();
                });
                $("ons-button#stop_button").click(function (){
                    $("ons-button#play_button").show();
                    $("ons-button#pause_button").hide();
                });
            });

            document.addEventListener("DOMContentLoaded", function() {
            startplayer();
            }, false);

            var player;
            let position;
            let seek;

            function startplayer()
            {
                player = document.getElementById('music_player');
                seekbar = document.getElementById("duration_slider");
                player.controls = false;
                player.play();
                player.volume=0.1
                player.addEventListener("timeupdate",(event) => {
                    //console.log(event);
                    let {currentTime, duration} = event.srcElement;
                    //console.log(currentTime);
                    //console.log(duration);
                    let progress_time = (currentTime / duration) * 100;
                    //console.log(progress_time);

                    //console.log(player.currentTime,"live")

                    //live time
                    let min_progress = Math.floor(progress_time / 60);
                    let sec_progress = Math.floor(progress_time % 60);
                    let total_progress = `${min_progress}:${sec_progress}`;

                    //total time or duration
                    let min_duration = Math.floor(duration / 60);
                    let sec_duration = Math.floor(duration % 60);
                    let total_duration = `${min_duration}:${sec_duration}`;


                    //console.log(Math.floor(progress_time),"aaaaaaaaaaaaaaaaa")
                    document.getElementById("duration_slider").value=progress_time
                    document.getElementById("start").innerHTML=total_progress
                    document.getElementById("end").innerHTML=total_duration

                    seekbar.addEventListener("click",(event) => {
                        const { duration } = player
                        let move_progress = (event.offsetX )
                        //console.log(move_progress,"move_progress")
                        player.currentTime = move_progress;
                    });
                });
            }
            function play_aud()
            {
                player.play();
            } 
            function pause_aud()
            {
                player.pause();
            }
            function stop_aud()
            {
                player.pause();
                player.currentTime = 0;
            }
            function change_vol()
            {
                player.volume=document.getElementById("change_vol").value;
            }
        </script>
    </ons-page>



{% endblock %}